<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self' "> -->
    <title>Xin Chao
        <%= data.username%>
    </title>
    <link rel="stylesheet" href="/css/chat.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io("https://firstwebwithnode.herokuapp.com/");
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div style='display: none;' id='username'>
        <%= data.username%>
    </div>
    <header id="header">
        <div class="logo-box"><img src="/img/logo.png" alt="" id="logo"></div>
        <ul id="menu">
            <li class="menu-item dropdown"><a href="/"><img src="/img/header_icons/home.ico" alt=""></a>
                <div class="dropdown-chat">Home</div>
            </li>
            <li class="menu-item dropdown">
                <img src="/img/header_icons/school.ico" alt="">
                <div class="dropdown-chat">School</div>
            </li>
            <li class="menu-item dropdown" id="chat">
                <img src="/img/header_icons/chat.ico" alt="">
                <div class="dropdown-chat">Chat</div>
            </li>
            <li class="menu-item dropdown">
                <img src="/img/header_icons/search.ico" alt="">
                <div class="search-box">
                    <input type="text" id="input-search">
                </div>
            </li>
        </ul>
        <div id="info">
            <div class="dropdown" id="search-box-dropdown">
                <img src="/img/header_icons/menu.ico" alt="">
                <div class="dropdown-content">
                    <span>Xin chào,
                        <a href="user" id="name_user">
                            <%= data.name%></a>
                        <div id="log-out"><a href="/logout">Log out</a></div>
                </div>
            </div>
        </div>
    </header>
    <aside>
        <div id="weather">
            <div id="icon-weather">
                <img class="text-weather weather" src="http://openweathermap.org/img/wn/04n@2x.png" alt="">
            </div>
            <span id="city-name" class="text-weather weather"></span>
            <span class="text-weather weather" id="temp"></span>
            <img class="icon_ww" id="wind" src="/img/weather_icons/wind.svg" alt=""> <span class="text-ww" id="wind-speed"></span>
            <img class="icon_ww" src="/img/weather_icons/sunrise.svg" alt="">
            <span class="text-ww" id="text-sr"></span>
            <img class="icon_ww" src="/img/weather_icons/sunset.svg" alt="">
            <span class="text-ww" id="text-ss"></span>
        </div>
        <div id="covid"></div>
    </aside>
    <main id="main">
        <div id="result">
            <div id="chat-box">
                <div id="box-room">
                    <div id="roomNow">
                        <%= roomname%>
                    </div>
                </div>
                <div id="member" class='dropdown-member'><span style="font-size:25px;font-family: sans-serif;">Member</span>
                    <ul id="list_user" class='dropdown-member-content'>
                        <% for(i in member){%>
                        <li class='xinchao' id='<%= member[i]%>'>
                            <%= member[i]%>
                        </li>
                        <%}%>
                    </ul>
                </div>
                <div style="position: relative;" id="box-chat-show">
                </div>
                <input type="text" id="inp-chat">
                <input type="button" value="Send" id="send">
            </div>
        </div>
    </main>
    <footer>
        <div id="logo_network">
        </div>
        <p>© Copyright 2021-2021 by Phuoc Long</p>
    </footer>
    <!-- <script type="text/javascript" src="js/dashboard.js"></script> -->
    <script type="text/javascript" src="/js/weather.js"></script>
    <script type="text/javascript" src="/js/chat.js"></script>
</body>

</html>